{% extends "common/base.html" %}

{% load staticfiles %}

{% block custom_css %}
    <!-- Custom styles for this template -->
    <link href="{% static "css/registration/signin.css" %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
    <div class="container">
    <form class="form-signin" method="post" action=".">
        {% csrf_token %}
        <h2 class="form-signin-heading">Login</h2>
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            <input class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" maxlength="{{ field.field.max_length }}" type="{{ field.field.widget.input_type  }}" placeholder="{{ field.label }}"/>
        </div>
        {% endfor %}
        <div class="checkbox">
            <label></label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
    </form>
    </div>
    <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 …-->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}