{% extends "common/base.html" %}
{% load staticfiles %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/calendar.css" %}">
{% endblock %}

{% block body_block %}
<div class="container">
    <h1>hola {{ username }}</h1>

    <div id="calendar"></div>

    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
    <script type="text/javascript" src="{% static "js/calendar.js" %}"></script>
    <script type="text/javascript">
        var calendar = $("#calendar").calendar(
            {
                tmpl_path: "{% static "tmpls/" %}",
                events_source: function () { return []; }
            });
    </script>
</div>


{% endblock %}